<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Arco onepage themeforest" />
    <meta name="description" content="Arco - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Arco</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Public/img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/Public/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="~/Public/css/style.css" />

</head>

<body>

  

    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

 

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="~/Public/img/logo-light.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-scroll-nav="0">Ana səhifə</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="1">Haqqimizda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="2">Servis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="3">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="4">Qiymetler</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="6">Əlaqə</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()



    <footer class="text-center">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="~/Public/img/logo-light.png" alt="logo">
            </a>

            <div class="social">
                <a href="#0" class="icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#0" class="icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#0" class="icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#0" class="icon">
                    <i class="fab fa-behance"></i>
                </a>
                <a href="#0" class="icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <p>&copy; 2018 UI-ThemeZ. All Rights Reserved.</p>

        </div>
    </footer>

    <!-- End Footer ====
    ======================================= -->
    <!-- jQuery -->
    <script src="~/Public/js/jquery-3.0.0.min.js"></script>
    <script src="~/Public/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- popper.min -->
    <script src="~/Public/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="~/Public/js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="~/Public/js/scrollIt.min.js"></script>

    <!-- jquery.waypoints.min -->
    <script src="~/Public/js/jquery.waypoints.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="~/Public/js/jquery.counterup.min.js"></script>

    <!-- owl carousel -->
    <script src="~/Public/js/owl.carousel.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="~/Public/js/jquery.magnific-popup.min.js"></script>

    <!-- stellar js -->
    <script src="~/Public/js/jquery.stellar.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="~/Public/js/isotope.pkgd.min.js"></script>

    <!-- YouTubePopUp.jquery -->
    <script src="~/Public/js/YouTubePopUp.jquery.js"></script>

    <!-- Map -->
    <script src="~/Public/js/map.js"></script>

    <!-- validator js -->
    <script src="~/Public/js/validator.js"></script>

    <!-- custom scripts -->
    <script src="~/Public/js/scripts.js"></script>

    <!-- google map api -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&amp;callback=initMap">
    </script>

</body>


</html>